.Create {
    margin: 0;
    height: 100vh;
    background-image: url("https://static3.depositphotos.com/1003372/161/i/950/depositphotos_1617144-stock-photo-sand-background.jpg");
    background-position: center;
    background-size: contain;
    overflow: hidden;
  }
  
  .Create__Title {
    position: relative;
    left: 37vw;
    top: 15vh;
    font-size: 6vh;
    /* font-family: Arcade_Classic; */
    animation: jump 2s infinite;
  }
  @keyframes jump {
    0% {
      top: 15vh;
    }
    50% {
      top: 16vh;
    }
    100% {
      top: 15vh;
    }
  }
  
  .Create__Container {
    border: 1px solid rgba(204, 204, 204, 0.411);
    box-shadow: -0px 5px 10px 5px rgba(255, 255, 255, 0.712);
    position: relative;
    border-radius: 20px;
    height: 60vh;
    width: 90vh;
    left: 28vw;
    top: 6vh;
  }
  /* Cthulhu_Arcade  Arcade_Classic  Regular_Arcade  Old_Bits */
  .Create__Text {
    font-family: Old_Bits;
    font-size: 2vh;
    position: absolute;
    top: 2vh;
    left: 2vw;
    height: 5vh;
    width: 16vw;
  }
  .Create__Rating {
    font-family: Old_Bits;
    font-size: 2vh;
    height: 5vh;
    width: 8vw;
    position: absolute;
    top: 2vh;
    left: 34vw;
  }
  .Create__Date {
    font-family: Old_Bits;
    font-size: 2vh;
    height: 5vh;
    width: 12vw;
    position: absolute;
    top: 2vh;
    left: 20vw;
  }
  
  .Create__Description {
    font-family: Old_Bits;
    font-size: 2vh;
    height: 30vh;
    width: 26vw;
    position: absolute;
    top: 14vh;
    left: 2vw;
  }
  
  .Create__Genre {
    font-family: Old_Bits;
    font-size: 2vh;
    height: 6vh;
    width: 12vw;
    position: absolute;
    top: 18vh;
    left: 30vw;
  }
  .Create__Platform {
    font-family: Old_Bits;
    font-size: 2vh;
    height: 6vh;
    width: 12vw;
    position: absolute;
    top: 33vh;
    left: 30vw;
  }
  
  .Create__URL {
    font-family: Old_Bits;
    font-size: 2vh;
    height: 6vh;
    width: 26vw;
    position: absolute;
    top: 50vh;
    left: 2vw;
  }
  
  .Create__Create {
    font-family: Old_Bits;
    color: rgb(0, 0, 0);
    background-color: #e16af196;
    font-size: 4vh;
    height: 13vh;
    width: 12.5vw;
    position: absolute;
    border-radius: 1vh;
    top: 45vh;
    left: 30vw;
  }
  .Create__Create:hover {
    transition: 2s all;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 8vh;
  }
  .Create__HomeButtom {
    font-family: Old_Bits;
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-size: 2vh;
    position: relative;
    left: 18.5vw;
    top: 0vh;
    border-radius: 8vh;
  }
  .Create__HomeButtom:hover {
    transition: 2s all;
    background-color: #e16af196;
    color: rgb(0, 0, 0);
    border-radius: 1vh;
  }
  