.Background__Details {
    height: 100vh;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-cute-wind-single-dog-background-material-image_279150.jpg");
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    display: Flex;
    justify-content: space-between;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
  
  /* font-family: 'Poppins', sans-serif; */
  
  .Details__left {
    width: 100vh;
    height: 80vh;
    align-self: center;
    margin-left: 40px;
    /* border: 3px solid #111; */
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Details__right {
    border: 3px solid rgba(17, 17, 17, 0.226);
    border-radius: 2rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    padding: 50px;
    margin-right: 20px;
    margin-top: 20px;
    overflow: overlay;
    width: 80vh;
    height: 37vh;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.171);
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(189, 37, 37, 0.151);
  }
  
  .GameImg__img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    border: 1px solid #111;
  }
  
  .Name__Details{
    font-size: 6vh;
    font-family: 'Poppins', sans-serif;
  }
  
  .Released__Years{
    font-size: 2vh;
    padding-top: 25px;
    font-family: 'Poppins', sans-serif;
  }
  
  .Width{
    font-size: 2vh;
    padding-top: 25px;
    font-family: 'Poppins', sans-serif;
  }
  
  .Rating{
    font-size: 2vh;
    padding-top: 25px;
    font-family: 'Poppins', sans-serif;
  }
  
  .temps__Details{
    font-size: 2vh;
    font-weight: bold;
    padding-top: 60px;
    font-family: 'Poppins', sans-serif;
  }
  
  .Details__rightdown{
    border: 3px solid rgba(17, 17, 17, 0);
    position: absolute;
    border-radius: 6rem;
    top: 36.5rem;
    left: 81.5rem;
    height: 19rem;
    width: 27rem;
  }
  .Details__rightdown:hover{
    transition: all 1s;
    border: 3px solid #904d1a9d;
    border-radius: 18rem;
    color: #84347F;
  }
  
  
  .Details__rightdown__text{
    font-size: 1.5rem;
    font-weight: bold;
    top: 13.8rem;
    left: 8rem;
    position: absolute;
  }
  
  